*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: #23252C;
    position: absolute;
    width: 550px;
    height: 868px;
    left: 65px;
    top: 53px;

background: #23252C;
}
.head{
    position: absolute;
    width: 317px;
    height: 317px;
    left: 116px;
    top: 44px;
}

h1 , small, p{
    text-align: center;
    color: #FFFFFF;
}

.button-style{
  margin: 30px 5px;
  /* padding-left: 30px; */
}
button{
    cursor: pointer;
    padding: 10px 10px;
    height: 35px;
    width: 75px;
    margin-right: 55px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 10px;
}
.main-one{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 12px;
}

.main-one > P{
    text-align: left;
}

.main-one > h1{
    text-align: left;
    font-weight: 200;
    font-size: 25px;
}